@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* The color #0D0B26 is a very dark shade of blue-violet.
    It can be described as "Midnight Purple",
    "Deep Indigo", or "Dark Periwinkle", depending on the context. */
  --color-main-dark-bg: #0d0b26;
  --color-main-dark-hover: #1a183d;

  /* For hover in light mode */
  --color-dark-blue: #222399;

  --color-header: #77c9fb;

  --color-baby-blue: #e6f2ff;

  --color-main-bg-surface: #ffffff;

  --color-main-ui-purple: #4a3aff;

  --color-light-border: #eff0f7;
  --color-dark-border: #211979;

  --color-gray-purple: #6f6c90;
  --color-light-gray: #94a3b8;

  /* White but slightly dark (for UI on dark bg) */
  --color-white-dark: #f5f5f5;

  /* Form */
  --color-form-ui-blue: #495aff;

  /* Filters */
  --color-genre: var(--color-main-ui-purple);
  --color-subgenre: #9d4eff;
  --color-specification: #64fcfe;
  --color-keyword: #ffc55c;
  --color-action-time: #92a8d1;
  --color-actor: #90ee90;
  --color-director: #f08080;
  --color-character: #fefd33;
  --color-su: #1e90ff;
  --color-vp: #ff5f1f;

  /* Statuses */
  --color-danger: #fc4349;
  /* --color-danger2: hsl(358, 97%, 63%);
  --color-danger2: var(--color-danger2) / 40; */
  --color-success: #2dc26a;
  --color-warning: #f38500;

  --shadow-danger: 0 0 5px var(--color-danger), 0 0 10px var(--color-danger),
    0 0 15px var(--color-danger);
  --shadow-success: 0 0 5px var(--color-success), 0 0 10px var(--color-success),
    0 0 15px var(--color-success);

  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #64fcfe;
  --color-secondary: #e4e9f2; */
  /* --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  ); */
  /* Rate slider */
  --background-image-custom-gradient: linear-gradient(
    to right,
    #d6d1ff,
    #b4afff,
    #938eff,
    #726cff,
    #4a3aff,
    #4035e6,
    #362fcc,
    #2c29b2,
    #222399,
    #181d7f
  );

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-progress: progress 0.5s ease-out;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-form-layout: 0px 5px 16px rgba(8, 15, 52, 0.06);
  --shadow-input-default: 0px 2px 6px rgba(19, 18, 66, 0.07);
  --shadow-input-light-mode: 0px 4px 8px rgba(250, 250, 250, 0.06),
    0px 1px 3px rgba(250, 250, 250, 250.04);
  --shadow-neon-purple: 0 0 6px rgba(74, 58, 255, 0.6),
    0 0 6px rgba(74, 58, 255, 0.5), 0 0 6px rgba(74, 58, 255, 0.4),
    0 0 6px rgba(74, 58, 255, 0.3);
  --shadow-dark-form-layout: 0px 21px 69px rgba(0, 0, 0, 0.29);

  /* Movie filters */
  --shadow-genre: 0px 0px 0px 0px var(--color-genre), 0 0 0px var(--color-genre),
    0 0 10px var(--color-genre), inset 0 0 10px var(--color-genre);

  --shadow-subgenre: 0px 0px 0px 0px var(--color-subgenre),
    0 0 0px var(--color-subgenre), 0 0 10px var(--color-subgenre),
    inset 0 0 10px var(--color-subgenre);

  --shadow-specification: 0px 0px 0px 0px var(--color-specification),
    0 0 0px var(--color-specification), 0 0 10px var(--color-specification),
    inset 0 0 10px var(--color-specification);

  --shadow-keyword: 0px 0px 0px 0px var(--color-keyword),
    0 0 0px var(--color-keyword), 0 0 10px var(--color-keyword),
    inset 0 0 10px var(--color-keyword);

  --shadow-action-time: 0px 0px 0px 0px var(--color-action-time),
    0 0 0px var(--color-action-time), 0 0 10px var(--color-action-time),
    inset 0 0 10px var(--color-action-time);

  /* People */
  --shadow-actor: 0px 0px 0px 0px var(--color-actor),
    0 0 00px var(--color-actor), 0 0 10px var(--color-actor),
    inset 0 0 10px var(--color-actor);
  --shadow-director: 0px 0px 0px 0px var(--color-director),
    0 0 0px var(--color-director), 0 0 10px var(--color-director),
    inset 0 0 10px var(--color-director);
  --shadow-character: 0px 0px 0px 0px var(--color-character),
    0 0 0px var(--color-character), 0 0 10px var(--color-character),
    inset 0 0 10px var(--color-character);

  --shadow-su: 0px 0px 0px 0px var(--color-su), 0 0 0px var(--color-su),
    0 0 10px var(--color-su), inset 0 0 10px var(--color-su);
  --shadow-vp: 0px 0px 0px 0px var(--color-vp), 0 0 0px var(--color-vp),
    0 0 10px var(--color-vp), inset 0 0 10px var(--color-vp);

  /* Search */
  --shadow-exact-match: 0px 0px 0px 0px #000000, 0 0 10px #000000,
    0 0 6px #000000, inset 0 0 10px #000000;
  --shadow-exact-match-light: 0px 0px 0px 0px #ffffff, 0 0 10px #ffffff,
    0 0 6px #ffffff, inset 0 0 10px #ffffff;

  /* Responsive */
  --breakpoint-xs: 30rem;
  /* --breakpoint-xl: 64rem; 1024px */
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes progress {
    0% {
      width: 0;
    }
    100% {
      width: 96px;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* body {
    cursor: url("/static/cursor.jpg"), auto;
  } */

  button {
    cursor: pointer;
    outline: none;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.2;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
  }
}

:root {
  /* Main background color */
  @apply dark:bg-main-dark-bg;

  /* Shadcn colors */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.movie-duration {
  --lights: #ff6347;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.movie-release-date {
  --lights: #d3609f;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.movie-location {
  --lights: #aa9cd7;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.movie-money {
  --lights: #f3d012;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.base-neon-text {
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.rating-text {
  --lights: #7e72ff;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.rating-box {
  --color-rating: #4ba3c7;
  width: 212px;
  height: 100px;
  border-radius: 1rem;
  border: 0.1px solid white;

  box-shadow:
    var(--color-rating) 0px 2px 16px 0px,
    var(--color-rating) 0px -2px 10px 0px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.user-rating-box {
  --color-rating: #ffc300;
  border-radius: 1rem;
  border: 0.1px solid white;
  box-shadow:
    var(--color-rating) 6px 2px 16px 0px,
    var(--color-rating) 0px -2px 10px 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.owner-rating-box {
  --color-rating: #ff6347;
  border-radius: 1rem;
  border: 1px solid white;

  box-shadow:
    var(--color-rating) 6px 2px 16px 0px,
    var(--color-rating) 0px -2px 10px 0px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.users-rated-movie {
  --color-rating: #4ba3c7;
  border-radius: 1rem;
  border: 0.1px solid white;

  box-shadow:
    var(--color-rating) 0px 0px 10px 0px,
    var(--color-rating) 0px 0px 10px 0px;
}

.user-rating-text {
  --lights: #4ba3c7;
  text-shadow:
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 0.3vh var(--lights),
    0 0 1vh var(--lights);
}

.dark {
  /* Shadcn colors */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);

  .\[\&_\.recharts-cartesian-grid_line\[stroke\=\'\#ccc\'\]\]\:stroke-border\/50
    .recharts-cartesian-grid
    line[stroke="#ccc"] {
    stroke: oklch(1 0 0 / 10%);
  }

  .\[\&_\.recharts-polar-grid_\[stroke\=\'\#ccc\'\]\]\:stroke-border
    .recharts-polar-grid
    [stroke="#ccc"] {
    stroke: oklch(1 0 0 / 10%);
  }

  .movie-duration {
    --lights: #ff6347;
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .movie-release-date {
    --lights: #89245c;
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .movie-location {
    /* --lights: red; */
    --lights: #7d729e;
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .movie-money {
    --lights: #a38a00;
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .base-neon-text {
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .base-neon-text {
    text-shadow:
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 0.5vh var(--lights),
      0 0 1vh var(--lights);
  }

  .rating-box {
    --color-rating: #4ba3c7;
    width: 212px;
    height: 100px;
    border-radius: 1rem;
    border: 0.15rem solid white;
    box-shadow:
      inset 0 0 0 0.2rem var(--color-rating),
      inset 0 0 1rem 0.3rem var(--color-rating),
      inset 1rem 1rem 0.4rem rgba(0, 0, 0, 0.6),
      0 0 0 0.2rem var(--color-rating),
      0 0 1rem 0.3rem var(--color-rating),
      1rem 1rem 0.4rem rgba(0, 0, 0, 0.6);

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .user-rating-box {
    --color-rating: #ffc300;
    border-radius: 1rem;
    border: 0.1px solid white;
    box-shadow:
      inset 0 0 0 0.2rem var(--color-rating),
      inset 0 0 1rem 0.3rem var(--color-rating),
      inset 1rem 1rem 0.4rem rgba(0, 0, 0, 0.6),
      0 0 0 0.2rem var(--color-rating),
      0 0 1rem 0.3rem var(--color-rating),
      1rem 1rem 0.4rem rgba(0, 0, 0, 0.6);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .owner-rating-box {
    --color-rating: #ff6347;
    border-radius: 1rem;
    border: 1px solid white;
    box-shadow:
      inset 0 0 0 0.2rem var(--color-rating),
      inset 0 0 1rem 0.3rem var(--color-rating),
      inset 1rem 1rem 0.4rem rgba(0, 0, 0, 0.6),
      0 0 0 0.2rem var(--color-rating),
      0 0 1rem 0.3rem var(--color-rating),
      1rem 1rem 0.4rem rgba(0, 0, 0, 0.6);

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Use theme inline when defining colors that reference other colors  */
/* Shadcn colors */
@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.movie-genre-text {
  --lights: #4a3aff78;
}
.movie-subgenre-text {
  --lights: #9d4eff78;
}
.movie-spec-text {
  --lights: #64fcfe78;
}
.movie-keywords-text {
  --lights: #ffc55c78;
}
.movie-act-time-text {
  --lights: #92a8d178;
}

.logo {
  text-shadow:
    0 0 10px azure,
    0 0 20px aqua,
    0 0 30px #4a3aff,
    0 0 40px #181d7f;
}

.search-nav {
  --movie-text: #666666;
  --movie-bg: #ffffff;
  --movie-border: #ebebeb;
  color: var(--movie-text);
  background: var(--movie-bg);
  border-color: var(--movie-border);
}

.movie-color-set {
  --movie-text: #0072f5;
  --movie-bg: #ebf5ff;
  --movie-border: #cce6ff;
}
.tvseries-color-set {
  --movie-text: #d86e0b;
  --movie-bg: #fff4e6;
  --movie-border: #ffd0a3;
}
.anime-color-set {
  --movie-text: #d82687;
  --movie-bg: #fdeff5;
  --movie-border: #f8cce0;
}
.game-color-set {
  --movie-text: #17a34a;
  --movie-bg: #eafbea;
  --movie-border: #c2e6c2;
}
.actor-color-set {
  --movie-text: #6b17a3;
  --movie-bg: #f5eafb;
  --movie-border: #e1c2e6;
}

.director-color-set {
  --movie-text: #a3172c;
  --movie-bg: #fbeaec;
  --movie-border: #e6c2c9;
}
.character-color-set {
  --movie-text: #17a39e;
  --movie-bg: #eafafb;
  --movie-border: #c2e4e6;
}

.error-message {
  color: var(--color-danger);
  background: #ffefef;
  border-color: #ffcccc;
}

.link-style {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.link-style::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--color-dark-blue);
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

.link-style:hover {
  color: var(--color-main-dark-hover);
}

.link-style:hover::before {
  transform: scaleX(1);
}

.header-shadow {
  box-shadow: 0 0 0.5rem 0.1rem var(--color-header);
}
